<ion-content>
    <!-- 
        thuộc tính innerHtml nhận vào biến chứa thẻ <a> và chuyển thành thẻ link
        có thể kích vào tương tự như dùng thẻ <a>
    -->

    <!-- Biến google chứa thẻ <a> với đường link -->
    <!-- google = "<a href='https://www.google.com.vn/' target='_blank'>Google</a>" -->
    <h1 [innerHtml]="google"></h1>
    <h4>
        <a href='https://www.google.com.vn/' target='_blank'>Google</a>
    </h4>

    <!-- 
        Dùng pipe linkify không có tham số để chuyển từ text bình thường
        có chứa đường link thành đường link có thể kích vào được 
        ví dụ: "đây là đường dẫn https://www.google.com.vn/"
        ==> "đây là đường dẫn <a href='https://www.google.com.vn/' target='_blank'>https://www.google.com.vn/</a>"
    -->

    <!-- Biến linkGoogle chứa text bình thường, trong đó có chứa đường link -->
    <!-- linkGoogle = "đây là đường dẫn https://www.google.com.vn/" -->
    <p [innerHtml]="linkGoogle | linkify"></p>

    <!-- 
        Dùng pipe linkify có tham số để chuyển link thành một mảng với các thuộc tính
        hostname, title, image, alt, content, images
    -->
    <!-- <h1>{{ linkDantri | linkify:'urlInfos' | json }}</h1> -->

    <div *ngIf="(linkDantri | linkify:'urlInfos')?.length>0">
        <div *ngFor="let urlInfo of linkDantri | linkify:'urlInfos'">
            <p text-wrap [innerHtml]="urlInfo.content | newline"></p>
            <img src="{{ urlInfo.image }}" />
        </div>
    </div>
</ion-content>